{% extends 'base/index.html' %}

{% load staticfiles %}
{% load tz %}


{% block title %} Informazioni Infrastruttura {% endblock %}



{% block content %}

     {% include 'patients/navbar_content.html' %}

     <div class="row-fluid sortable ui-sortable ">
        <div class="box span12">
            <div class="box-header">
                <h2>
                    <i class="halflings-icon user"></i>
                    <span class="break"></span>
                    Informazione Infrastruttura
                </h2>
                <div class="box-icon">
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                    <div class="span12">
                    <a  class="btn btn-danger btn-med" data-rel='tooltip' data-original-title="Aggiungi Infrastruttura" href="{% url 'registration_infrastructure' %}">
                        <i class="halflings-icon plus white"></i></a><!--style="margin-top: 6px;margin-left: 3px;"-->
                    </div>
                    <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
						  <thead>
							  <tr role="row">
                                  <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Username: activate to sort column descending" style="width: 10px;text-align: center">Id</th>
                                   <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px;text-align: center">Logo</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Date registered: activate to sort column ascending" style="width: 50px;text-align: center">Nome</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 50px;text-align: center">Via</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px;text-align: center">Città</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px;text-align: center">Telefono</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px;text-align: center">E-mail</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 50px;text-align: center">Cordinate Gps</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Patology: activate to sort column ascending" style="width: 250px;text-align: center">Azioni</th>

                              </tr>
						  </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                        {% for infra in infr %}
                        <tr class="odd">
								<td class=" sorting_1">{{infra.id}}</td>
                                <td class="center"><img src="/media/{{ infra.logoOspedale }}"></td>
								<td class="center ">{{infra.NomeOspedale}}</td>
								<td class="center ">{{ infra.ViaOspedale }}</td>
								<td class="center ">{{ infra.CittaOspedale }}</td>
                                <td class="center">{{ infra.NumeroTelOspedale }}</td>
                                <td class="center">{{ infra.EmailOspedale }}</td>

                                <td class="center">{{ infra.CordinateGps }}</td>


                                <td class="center ">
									<a class="btn btn-success" data-rel='tooltip' data-original-title="Modifica Infrastruttura" href="{% url 'edit_infrastructure' infr_id=infra.id %}">
										<i class="halflings-icon white edit"></i>
									</a>
									<a class="btn btn-danger" data-rel='tooltip' data-original-title="Elimina Infrastruttura" href="{% url 'delete_infrastructure' infr_id=infra.id %}">
										<i class="halflings-icon white trash"></i>
									</a>
								</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
     </div>
{% endblock %}